In [5]:
import pandas as pd
from IPython.display import display
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
from build_data import build_data

In [7]:
df = build_data()

In [8]:
df.shape

(2018, 94)

In [10]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df.head(2))

,inHandDate,id,accountId,eventId,quantity,notes,section,row,secondRow,lowSeat,highSeat,cost,taxedCost,taxedCostAverage,faceValue,tickets,ticketIds,stockType,splitType,customSplit,listPrice,expectedValue,publicNotes,attributes,status,inHandDaysBeforeEvent,lastPriceUpdate,createdDate,createdBy,lastUpdateBy,version,tags,seatType,eventMapping,mappingId,exchangePosId,broadcast,zoneSeating,electronicTransfer,optOutAutoPrice,hideSeatNumbers,vsrOption,replenishmentGroupId,replenishmentGroup,shownQuantity,ticketsMerged,ticketsSplit,filesUploaded,barCodesEntered,instantTransfer,instantTransferOptedOut,seatNumbers,listed,consignmentStatus,cooperative,holdId,hold,unitCostAverage,faceValueAverage,currencies,received,vendorId,inHand,hasTaxedCost,daysOld,event,event_id,event_name,event_date,event_venue,event_performerId,event_performer,event_keywords,event_chartUrl,event_stubhubEventId,event_stubhubEventUrl,event_tags,event_notes,event_eiEventId,event_optOutReplenishment,event_ticketCount,event_mySoldTickets,event_myCancelledTickets,event_disabled,event_vividSeatsEventUrl,event_venue_id,event_venue_name,event_venue_address,event_venue_city,event_venue_state,event_venue_country,event_venue_postalCode,event_venue_phone,event_venue_timeZone
0,2022-05-09,229463055,1797,3752085,8,TEST INVENTORY,TEST,TEST,None,9999,10006,0.0,0.0,0.0,0.0,[],"[927682903, 927682904, 927682905, 927682906, 9...",HARD,DEFAULT,None,NaN,None,None,[],AVAILABLE,None,2022-05-09T17:14:48.000Z,2022-05-09T17:14:48.000Z,None,None,1652116488000,project test,CONSECUTIVE,None,0,274686842,True,False,False,False,False,ALL,0.0,None,None,None,None,False,False,False,False,"9999,10000,10001,10002,10003,10004,10005,10006",False,No,False,None,None,0.0,0.0,[USD],No,[631321],True,None,72,"{'id': 3752085, 'name': 'Rod Stewart', 'date':...",3752085,Rod Stewart,2022-10-01T19:30:00,"{'id': 2123, 'name': 'Caesars Palace', 'addres...",733,"{'id': 733, 'name': 'Rod Stewart', 'eventType'...","Rod Stewart, Caesars Palace, Las Vegas, NV, Ro...",http://d2o50i5c2dr30a.cloudfront.net/fc70d9d2-...,105047031,https://www.stubhub.com/rod-stewart-las-vegas-...,None,None,3280938,False,None,0,0,False,http://www.vividseats.com/shop/viewTickets.sht...,2123,Caesars Palace,3570 S. Las Vegas Blvd. South,Las Vegas,NV,US,89109,866-227-5938,America/Los_Angeles
1,2022-05-09,229465128,1797,3514051,8,TEST INVENTORY,TEST,TEST,None,9999,10006,0.0,0.0,0.0,0.0,[],"[927691061, 927691062, 927691063, 927691064, 9...",HARD,DEFAULT,None,NaN,None,None,[],AVAILABLE,None,2022-05-09T17:15:59.000Z,2022-05-09T17:15:59.000Z,None,None,1652116560000,project test,CONSECUTIVE,None,0,274688949,True,False,False,False,False,ALL,0.0,None,None,None,None,False,False,False,False,"9999,10000,10001,10002,10003,10004,10005,10006",False,No,False,None,None,0.0,0.0,[USD],No,[631321],True,None,72,"{'id': 3514051, 'name': 'Justin Bieber (Resche...",3514051,Justin Bieber (Rescheduled from 7/13/2021) (Po...,2099-06-13T19:30:00,"{'id': 973, 'name': 'Madison Square Garden', '...",22202,"{'id': 22202, 'name': 'Justin Bieber', 'eventT...","Justin Bieber, Madison Square Garden, New York...",http://d2o50i5c2dr30a.cloudfront.net/ad353c42-...,104708929,https://www.stubhub.com/justin-bieber-new-york...,None,None,0,False,None,0,0,False,http://www.vividseats.com/shop/viewTickets.sht...,973,Madison Square Garden,4 Pennsylvania Plaza,New York,NY,US,10001,212-465-6741,America/New_York

In [ ]:
ale

### Example Filter: get all the biebs

In [15]:
performer_id = 22202  # I <3 Bieber
ind = df['event_performerId'] == performer_id
ind

0       False
1        True
2        True
3        True
4       False
        ...
2013    False
2014    False
2015    False
2016    False
2017    False
Name: event_performerId, Length: 2018, dtype: bool

In [18]:
df[ind][["id", "eventId", "event_performerId", "event_venue_name"]]

          id  eventId  event_performerId            event_venue_name
1  229465128  3514051              22202       Madison Square Garden
2  229465129  3514049              22202                   TD Garden
3  229465130  3938200              22202  Singapore National Stadium

### Example Aggregation

In [20]:
df.groupby('event_venue_name').agg('count')['id']

event_venue_name
Blue Note Hawaii                                      1
Brooklyn Mirage                                       1
Caesars Palace                                        1
Circuit Paul Ricard                                   2
Citizens Bank Opera House                             1
Greek Theatre - Los Angeles                           1
Kennedy Center Opera House                          500
Madison Square Garden                                 1
Michael Fowler Centre                                 1
Moody Center ATX                                      1
Ogden Theatre                                         1
Ohio Theatre - Columbus                               1
Qudos Bank Arena                                      1
RAC Arena                                             1
Saint Louis Music Park                              499
Segerstrom Center for the Arts - Segerstrom Hall    500
Singapore National Stadium                            1
Stage 42                                              1
Sullivan Arena                                        1
TD Garden                                             1
The Savoy Theatre - Nova Scotia                       1
iTHINK Financial Amphitheatre                       500
Name: id, dtype: int64

In [21]:
df.groupby('status').agg('count')['id']

status
AVAILABLE    2018
Name: id, dtype: int64

In [24]:
df.groupby('daysOld').agg('count')['id']

daysOld
2        3
47    1999
69      10
72       6
Name: id, dtype: int64

### Example Filtering with number field

In [26]:
ind = df['daysOld'] > 50
print(sum(ind))
ind

16

0        True
1        True
2        True
3        True
4        True
        ...
2013    False
2014    False
2015    False
2016    False
2017    False
Name: daysOld, Length: 2018, dtype: bool

In [27]:
df[ind]

,inHandDate,id,accountId,eventId,quantity,notes,section,row,secondRow,lowSeat,...,event_vividSeatsEventUrl,event_venue_id,event_venue_name,event_venue_address,event_venue_city,event_venue_state,event_venue_country,event_venue_postalCode,event_venue_phone,event_venue_timeZone
0,2022-05-09,229463055,1797,3752085,8,TEST INVENTORY,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,2123,Caesars Palace,3570 S. Las Vegas Blvd. South,Las Vegas,NV,US,89109,866-227-5938,America/Los_Angeles
1,2022-05-09,229465128,1797,3514051,8,TEST INVENTORY,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,973,Madison Square Garden,4 Pennsylvania Plaza,New York,NY,US,10001,212-465-6741,America/New_York
2,2022-05-09,229465129,1797,3514049,8,TEST INVENTORY,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,573,TD Garden,100 Legends Way,Boston,MA,US,02114,617-624-1750,America/New_York
3,2022-05-09,229465130,1797,3938200,8,TEST INVENTORY,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,20419,Singapore National Stadium,1 Stadium Drive,Singapore,None,CN,397629,65 6653 8900,Asia/Singapore
4,2022-05-09,229465485,1797,3637558,4,TEST INVENTORY,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,1223,Ohio Theatre - Columbus,39 E. State St.,Columbus,OH,US,43215,614-469-0939,America/New_York
5,2022-05-09,229465486,1797,3592819,4,TEST INVENTORY,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,3097,Citizens Bank Opera House,539 Washington Street,Boston,MA,US,02111,617-259-3400,America/New_York
6,2022-05-12,230689185,1797,3746205,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,26428,RAC Arena,700 Wellington St,Perth,None,AU,12345,(08) 6365 0700,Etc/GMT+8
7,2022-05-12,230690140,1797,3746226,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,3623,Qudos Bank Arena,Olympic Boulevard,Sydney,None,AU,NSW 2127,+61 02 8765 4321,Australia/Sydney
8,2022-05-12,230690871,1797,3911163,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,17163,Michael Fowler Centre,111 Wakefield St,Wellington,None,NZ,6011,6448014231,Pacific/Auckland
9,2022-05-12,230691521,1797,3530770,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,15577,Blue Note Hawaii,2335 Kalakaua Ave,Honolulu,HI,US,96815,(808) 777-4890,Pacific/Honolulu
10,2022-05-12,230692918,1797,3939315,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,3433,Sullivan Arena,1600 Gambell Street,Anchorage,AK,US,99501,(907) 279-0618,America/Anchorage
11,2022-05-12,230693282,1797,3882872,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,672,Greek Theatre - Los Angeles,2700 N. Vermont Ave.,Los Angeles,CA,US,90027,213-665-1927,America/Los_Angeles
12,2022-05-12,230693947,1797,3899444,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,1221,Ogden Theatre,935 E. Colfax Ave.,Denver,CO,US,80218,303-831-9448,America/Denver
13,2022-05-12,230694328,1797,3943595,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,26991,Moody Center ATX,2001 Robert Dedman Drive,Austin,TX,US,78712,(866) 848-8499,America/Chicago
14,2022-05-12,230694677,1797,3945818,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,14273,Stage 42,422 West 42nd Street,New York,NY,US,10036,(212) 239-6200,America/New_York
15,2022-05-12,230695729,1797,3784550,8,TEST,TEST,TEST,None,9999,...,http://www.vividseats.com/shop/viewTickets.sht...,15156,The Savoy Theatre - Nova Scotia,116 Commercial St,Nova Scotia,NS,CA,B1A 3C1,9028421577,America/Toronto

### One more example of aggregation

In [29]:
df.groupby('event_venue_city').agg(['sum', 'count'])['quantity']

                  sum  count
event_venue_city
Anchorage           8      1
Austin              8      1
Boston             12      2
Brooklyn            8      1
Columbus            4      1
Costa Mesa        500    500
Denver              8      1
Honolulu            8      1
Las Vegas           8      1
Le Castellet       16      2
Los Angeles         8      1
Maryland Heights  499    499
New York           16      2
Nova Scotia         8      1
Perth               8      1
Singapore           8      1
Sydney              8      1
Washington DC     500    500
Wellington          8      1
West Palm Beach   500    500